body {
  background: url("resto.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-title {
  margin: 10px;
}

.cards {
  margin: 0 auto;
  float: none;
  margin-bottom: 20px;
  padding: 3px;
  width: 75%;
  display: inline-flex;
}

.page-header {
  color: #E3A723;
  background-color: #1B2B32
}